name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: |
            package-lock.json
            example/package-lock.json

      - run: npm ci
      - run: npm run fmt:check
      - run: npm run typecheck
      - run: npm test
      - run: npm ci --prefix example
      - run: npm run build --prefix example
